doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/airtime/res/stylesheets/style.css')
    script(src="/airtime/res/javascripts/jquery-3.3.1.min.js")    
    script(src="/airtime/res/javascripts/main.js")
    script(src="/airtime/res/javascripts/echarts.min.js")
  body
    block content
